# Great Expectations

## Instalando

In [ ]:
!pip install --upgrade pandas==1.5.1
!pip install great_expectations==0.16.3

## Validando os dados

Validamos o conjunto de dados com a suíte de expectativas. 

Em seguida, verificamos se a validação foi bem-sucedida verificando o atributo success do objeto ExpectationValidationResult

### Validação de valores únicos em uma coluna

In [1]:
import great_expectations as gx 
import pandas as pd

In [ ]:
df = pd.DataFrame({'nome':['João', 'Maria', 'Joaquim', 'Pedro', 'Ana', 'pedro']})

Crie uma expectation que verifica se a coluna "codigo" contém apenas valores únicos.

Use a função ``expect_column_values_to_be_unique`` para definir essa expectativa

In [ ]:
df_gx = gx.dataset.PandasDataset(df)
df_gx

In [ ]:
validation_result = df_gx.expect_column_values_to_be_unique(column = 'nome')
validation_result

In [ ]:
if validation_result['success']:
    print('A coluna nome contem apenas valores únicos')
else:
    print('A coluna nome possui valores duplicados')

In [ ]:
df2 = pd.DataFrame({'codigo':[1001, 1002, 1003, 1006, 1002, 1005, 1003]})
df_gx2 = gx.dataset.PandasDataset(df2)
df_gx2

In [ ]:
validation_result = df_gx2.expect_column_values_to_be_unique(column = 'codigo')
validation_result

### Validação de valores mínimos e máximos em uma coluna numérica

Use a função ``expect_column_values_to_be_between`` para verificar se a coluna "idade" contém apenas valores entre 18 e 65 anos.

Passamos os valores mínimo e máximo permitidos como argumentos. Em seguida, validamos o conjunto de dados com a suíte de expectativas e verificamos se a validação foi bem-sucedida.

In [ ]:
df = pd.DataFrame({'idade': [15, 10, 18, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105]})
df

In [ ]:
df_gx3 = gx.dataset.PandasDataset(df)
df_gx3

In [ ]:
result = df_gx3.expect_column_values_to_be_between(column = 'idade', min_value = 18, max_value = 65)
result

### Validação de formatos de data em uma coluna

In [ ]:
df = pd.DataFrame({'data':['2022-02-02', '2022-01-02', '2022-01-04', '2022-13-04', '2022-01-05', '01-01-2024']})
df_gx4 = gx.dataset.PandasDataset(df)

In [ ]:
dict_ = df_gx4.expect_column_values_to_match_strftime_format(column='data', strftime_format = "%Y-%m-%d")

In [ ]:
dict_['result']

### Validação de valores nulos em uma coluna

Criaremos uma Expectation que verifica se a coluna "salario" não contém valores nulos

In [ ]:
df = pd.DataFrame({'salario': [2000, 2500, 3000, None, 4000, 4500]})
df_gx5 = gx.dataset.PandasDataset(df)

In [ ]:
result = df_gx5.expect_column_values_to_not_be_null(column= 'salario')
result

### Validação de formatos de string em uma coluna (cpf)

Vamos criar uma Expectation que verifica se a coluna "cpf" contém apenas CPFs no formato 'XXX.XXX.XXX-XX'. 

Usaremos a função ``expect_column_values_to_match_regex`` para definir essa expectativa.

Para entender o regex você pode utilizar o site: https://regexr.com/3cr6f.

In [ ]:
df = pd.DataFrame({'cpf':['123.456.789-10', '234.345.567.09', '345-578-908.96', '647.456.778-04', 'abc.003.456-02']})
df_gx6 = gx.dataset.PandasDataset(df)

In [ ]:
result = df_gx6.expect_column_values_to_match_regex(column='cpf', regex='^\d{3}.\d{3}.\d{3}-\d{2}')
result

### Validação de formatos de string em uma coluna (email)

Vamos criar uma Expectation que verifica se a coluna "email" tem um formato esperado.

Usaremos a função ``expect_column_values_to_match_regex`` para definir essa expectativa.

Para entender o regex você pode utilizar o site: https://regexr.com/3cr6f.

Email regex: https://pt.stackoverflow.com/a/276022.

In [ ]:
df = pd.DataFrame(
    {
        'email': [
            'fernando@gmail.com', 
            'fernando.barbarossa@gmail', 
            'fernando.barbarossa@ada.tech', 
            'fernando.barbarossa@ada.tech.br', 
            'fernando_barbarossa+@ada.tech', 
            'fernandoBarbarossa+@ada.tech', 
            'fernando_barbarossa08@itau.com.br',
            'fernando_barbarossa08@itau.edu.sp.br',
        ]
    }
)
df_gx = gx.dataset.PandasDataset(df)
df_gx

In [ ]:
result = df_gx.expect_column_values_to_match_regex(column='email', regex='^[\w+.]+@\w+\.\w{2,}(?:\.\w{2})?$')
result

### Validação de contagem de valores em uma coluna


Vamos criar um dataframe com uma coluna "cidade" e usar a função ``expect_column_unique_value_count_to_be_between`` para definir se a coluna "cidade" contém pelo menos 3 ocorrências de cada cidade. 

Em seguida, passamos um dicionário com os valores esperados de cada cidade e um valor mínimo e máximo de ocorrências permitidas.

In [ ]:
df = pd.DataFrame({'cidade':['São Paulo', 'Rio de Janeiro', 'Belo Horizonte',
                             'São Paulo', 'Rio de Janeiro', 'Belo Horizonte',
                             'São Paulo', 'Rio de Janeiro', 'Belo Horizonte',
                            ]})
df_gx = gx.dataset.PandasDataset(df)
df_gx

In [ ]:
result = df_gx.expect_column_unique_value_count_to_be_between(column = 'cidade', min_value = 2, max_value = 3)
result

## Expectativas para us_tax_data_2016

In [3]:
path = '../data_analytics_engineering/dados/atividade1/us_tax_data_2016.csv'

In [4]:
df = gx.read_csv(path)
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526

### Definindo expectativas dos dados us_tax_data_2016

``expect_column_values_to_be_in_set`` agi_stub

In [5]:
df['agi_stub'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [6]:
df.expect_column_values_to_be_in_set('agi_stub', [1,2,3,4], mostly = .66)

{
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 3001,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 999,
    "unexpected_percent": 33.28890369876707,
    "unexpected_percent_total": 33.28890369876707,
    "unexpected_percent_nonmissing": 33.28890369876707,
    "partial_unexpected_list": [
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6,
      5,
      6
    ]
  }
}

``expect_column_values_to_be_in_set`` zip code zeros

In [7]:
df.loc[df['zipcode']==0]

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
5,1,AL,0,6,57240,2970,51130,400,42920,165770,...,57170,6208277,23170,40099,28220,89072,28900,825381,17350,254122

In [8]:
6/3001

0.001999333555481506

In [9]:
df.expect_column_values_to_be_in_set('zipcode', [0], .001)

{
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 3001,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 2995,
    "unexpected_percent": 99.80006664445185,
    "unexpected_percent_total": 99.80006664445185,
    "unexpected_percent_nonmissing": 99.80006664445185,
    "partial_unexpected_list": [
      35004,
      35004,
      35004,
      35004,
      35004,
      35004,
      35005,
      35005,
      35005,
      35005,
      35005,
      35005,
      35006,
      35006,
      35006,
      35006,
      35006,
      35006,
      35007,
      35007
    ]
  }
}

``expect_column_to_exist`` mars columns

In [12]:
df.expect_column_to_exist(column='mars1')

{
  "meta": {},
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {}
}

### Obtendo as Expectativas

In [13]:
df.get_expectation_suite()

{
  "ge_cloud_id": null,
  "meta": {
    "great_expectations_version": "0.16.3"
  },
  "expectation_suite_name": "default",
  "expectations": [
    {
      "meta": {},
      "kwargs": {
        "column": "agi_stub",
        "value_set": [
          1,
          2,
          3,
          4
        ],
        "mostly": 0.66
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "zipcode",
        "value_set": [
          0
        ],
        "mostly": 0.001
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "mars1"
      },
      "expectation_type": "expect_column_to_exist"
    }
  ],
  "data_asset_type": "Dataset"
}

Por padrão, ``get_expectation_suite()`` retorna apenas Expectations com ``success=True``. 

Você pode substituir esse comportamento com:

In [14]:
df.get_expectation_suite(discard_failed_expectations=False)

{
  "ge_cloud_id": null,
  "meta": {
    "great_expectations_version": "0.16.3"
  },
  "expectation_suite_name": "default",
  "expectations": [
    {
      "meta": {},
      "kwargs": {
        "column": "agi_stub",
        "value_set": [
          1,
          2,
          3,
          4
        ],
        "mostly": 0.66
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "zipcode",
        "value_set": [
          0
        ],
        "mostly": 0.001
      },
      "expectation_type": "expect_column_values_to_be_in_set"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "mars1"
      },
      "expectation_type": "expect_column_to_exist"
    },
    {
      "meta": {},
      "kwargs": {
        "column": "mars3"
      },
      "expectation_type": "expect_column_to_exist"
    }
  ],
  "data_asset_type": "Dataset"
}

### Salve sua suíte Expectation

In [17]:
import os
import json

In [16]:
aula_5_results_path = 'dados/aula_5'
os.makedirs(aula_5_results_path, exist_ok=True)

In [18]:
with open(f"{aula_5_results_path}/expectiation.json", "w") as my_file:
    my_file.write(
        json.dumps(df.get_expectation_suite(discard_failed_expectations=False).to_json_dict())
    )